@use '../../../styles/vars';
@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

.slytherin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__card {
    background: linear-gradient(rgb(189, 177, 177), white);
    margin: vars.$gutter;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-family: 'Castoro', sans-serif;
    &__title {
      font-weight: bold;
      font-size: 1.5em;
    }
    &__content {
      font-size: 1.2em;

      &__span {
        text-decoration: underline;
      }
    }
    &__image{
      width: 15rem;
      margin: auto;
      border-radius: 30px;
    }
  }
}

.loading {
  font-size: 3em;
  font-family: 'Castoro', sans-serif;
}
