@use '../../styles/vars';
@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");


.home {
  font-family:'Castoro', 'sans-serif';
  display: flex;
  justify-content: center;

  &__card{
    border: none;
    &__img {
      border-radius: 30px;
    }
    &__title{
      text-align: center;
       font-size: 1.7em;
    }
    &__content{
      text-align: center;
      font-size: 1.3em;
    }
  }
}
