@use '../../styles/vars';
@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

.nav {
    background: linear-gradient(rgb(189, 177, 177), white);
    &__item {
      font-size: 1.7em;
      font-family: 'Castoro', sans-serif;
      display: block;
      color: black;
      &:hover {
        color: rgb(230, 141, 59);
      }
      &--active {
        color:  rgb(230, 141, 59);
      }
    }
}

.navbar-collapse {
  justify-content: space-between;
}

#basic-nav-dropdown {
  color: black;
}


