@use '../../styles/vars';
@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

.nav {
    background: linear-gradient(rgb(189, 177, 177), white);
    border-radius: 1em;
    margin: vars.$gutter;
    &__item {
      font-size: 1.7em;
      font-family: 'Castoro', sans-serif;
      display: block;
    }
}

#basic-nav-dropdown {
  color: black;
}


